<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/Frontend/static/styles/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>BIV Platform Страхование</title>
</head>
<body>
    <div class="non_func_header">
        <div class="img_name">
            <img src="/Frontend/static/images/BIV.png" alt="" width="60px">
            <p href="">Platform: Страхование</p>
        </div>
        <div class="log_in_out">
            <a href="">Log in</a>
            <i class="fas fa-sign-out"></i>
        </div>
    </div>
    <nav class="navigation_bar">
        <a href="">aasdasd</a>
        <a href="">basdas</a>
        <a href="">cdasda</a>
        <a href="">dsdasdas</a>
        <a href="">edasd</a>
    </nav>
    <div class="container">
        <div class="choose_insurance">
            <div class="product_type">

            </div>
        </div>
    </div>

    <script src="/app/contact.js"></script>
</body>
</html>